body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
  padding: 0;
}

.top-bottom-buttons { 
 position: fixed;
 bottom: 50%;
 right: 5px;

 }

.button { 
 display: block;
 padding: 5px 10px;
 background-color: #4CAF50;
 color: white;
 text-align: center;
 text-decoration: none;
 border-radius: 2px;
 margin-bottom: 5px;
 font-size:16px;
 border-radius:5px;
 opacity: 0.6;
 width: 15px;
 height : 25px;
 }

.button:hover {
 opacity: 1;
 background-color: #45a049;
}

#like {
    display: inline-block; /* 让链接元素表现为块级元素，以便设置宽高 */
    background-image: url('https://github.com/setity/setitytest/assets/163283893/1d41ce7b-bea7-4855-8a51-7bb1d5b0020b');
    background-size: cover; /* 背景图片大小设置为覆盖整个元素 */
    background-repeat: no-repeat; /* 禁止背景图片重复 */
    text-decoration: none; /* 可选：移除下划线 */
    color: #ffffff; /* 可选：设置链接文字颜色 */
    width: 15px;
    height : 25px;
    animation: pulse 2s infinite alternate; /* 添加动画效果 */
}

#readme {
  display: block;
  text-decoration: none; 
  margin: 0 auto; 
  margin-top:100px;
  margin-bottom:25px;
  margin-top:0;
  max-width: fit-content; 
  font-size: 16px; 
  color: #6495ED; 
  animation: pulse 2s infinite alternate; /* 添加动画效果 */
}

@keyframes pulse {
  0% {
  transform: scale(1);
  }
  100% {
  transform: scale(1.08);
  }
}

h1 {
  text-align: center;
  color: #333;
  display: block;
}

#fileInput {
  display: none;
}

.label-input {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center; /* 让内部元素水平居中 */
}

.label-input label {
  margin-right: 10px;
  color: #666;
  font-weight: bold;
}

.label-input input[type="file"], .label-input input[type="text"], .label-input select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.label-input input[type="text"] {
  margin-right: 10px; /* 给搜索框和按钮之间添加间距 */
  flex: 1; /* 确保搜索框占据可用空间 */
}

.label-input button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0; /* 确保按钮不压缩 */
}

#searchInput {
  width: 100%;
  background-color: #f0f0f0; /* 输入框颜色 */
}

#searchResults {
  margin-top: 20px;
}

#content {
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: pre-line;
  font-size: 16px;
}

.pageButton {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ddd;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pageButton:hover {
  background-color: #ccc;
}

/* 设置选项和应用设置按钮样式 */
#settings {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#settings label {
  margin-right: 10px;
  color: #666;
}

#settings select, #settings input[type="color"], #settings input[type="number"], #applySettingsButton {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-right: 10px;
}

#applySettingsButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.currentPage {
  background-color: #4CAF50;
  color: white;
}

#pageButtons {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.highlight {
  background-color: yellow;
}

#applySettingsButton {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

#applySettingsButton:hover {
  background-color: #45a049;
}

#searchButton {
  margin-right:20px;
}

#searchButton:hover {
  background-color: #45a049;
}

#netsearchButton:hover {
  background-color: #45a049;
}

#loadFileButton:hover {
  background-color: #45a049;
}

.searchResult {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.searchResult:hover {
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  .label-input input[type="file"], .label-input input[type="text"], .label-input select, .label-input button, #settings label, #settings select, #settings input[type="color"], #settings input[type="number"], #applySettingsButton {
    width: 100%;
  }

  .label-input input[type="text"], #searchInput {
    width: 100%;
    margin-right: 0; 
    margin-bottom: 5px;
  }

  #settings {
    padding: 5px;
  }

  #applySettingsButton {
    margin-left: 0;
  }
  
  #settings {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }

  #settings label, #settings select, #settings input[type="color"], #settings input[type="number"], #applySettingsButton {
    width: 100%;
    margin-right: 0;
    margin-top: 6px;
  }

  #applySettingsButton {
    margin-top: 10px;
  }

  #searchButton {
    margin-right:0;
  }

  #netsearchButton {
    margin-top:10px;
  }

  #searchButton:hover {
    background-color: #45a049;
  }

  #netsearchButton:hover {
    background-color: #45a049;
  }
}
